<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_3DaytoHell.My.MySettings.MemberConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Member.accdb"
            providerName="System.Data.OleDb" />
        <add name="_3DaytoHell.My.MySettings.BookConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Book.accdb"
            providerName="System.Data.OleDb" />
        <add name="_3DaytoHell.My.MySettings.AdminConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Admin.accdb"
            providerName="System.Data.OleDb" />
        <add name="_3DaytoHell.My.MySettings.statusConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\status.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>